body {
  font-family: Arial, sans-serif;
  background-color: lightskyblue;
}

h1 {
  color: rgb(12, 11, 11);
}

form {
  background-color: rgba(252, 247, 247, 0.781);
  text-align: center;
  max-width: 333px;
  margin: auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(12, 11, 11, 0.199);
}

.textBox {
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  border: 1.3px solid rgb(12, 11, 11);
  border-radius: 5px;
  margin-bottom: 15px;
}

form label {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5px;
}

.submit {
  margin-top: 1.5em;
  background-color: rgba(245, 236, 115, 0.863);
  font: 1.5em;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(255, 230, 0);
}

.result {
  font-size: 1.75em;
  font-weight: bold;
}
